.container {
    margin-top: 3rem;
    justify-content: center;
    flex-direction: row;
    display: flex;
    scale: 2;
    font-family: sans-serif;
    color: white;
}

.MainContainer {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.DataContainer {
    margin-top: 3rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
    scale: 1.5;
    font-family: sans-serif;
}


#weatherData {
    display: flex;
    justify-content: right;
    background-color: transparent;
    border: 1px;
    border-style: solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    width: 5rem;
}

#dateData {
    background-color: transparent;
    border: 1px;
    color: white;
    border-style: solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    width: 5rem;
    height: 3rem;
}

#RainData {
    background-color: transparent;
    border: 1px;
    color: white;
    border-style: solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    width: 2rem;
    height: 3rem;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    #dateData {
        align-items: center;
        background-color: transparent;
        border: 1px;
        color: white;
        border-style: solid;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        width: 7rem;
        height: 2rem;
    }

    .MainContainer {
        flex-direction: column;
        display: flex;
    }

    .DataContainer {
        justify-content: center;
        flex-direction: row;
        display: flex;
        font-family: sans-serif;

    }

    #weatherData {
        width: 7rem;
        display: flex;
        justify-content: center;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
    }
    
    #RainData {
        background-color: transparent;
        border: 1px;
        color: white;
        border-style: solid;
        display: flex;
        justify-content: center;
        width: 7rem;
        height: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    #dateData {
        align-items: center;
        background-color: transparent;
        border: 1px;
        color: white;
        border-style: solid;
        display: flex;
        justify-content: center;
        width: 7rem;
        height: 2rem;
    }

    .MainContainer {
        flex-direction: column;
        display: flex;
    }

    .DataContainer {
        justify-content: center;
        flex-direction: row;
        display: flex;
        font-family: sans-serif;

    }

    #weatherData {
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        width: 7rem;
        display: flex;
        justify-content: center;
    }
    
    #RainData {
        background-color: transparent;
        border: 1px;
        color: white;
        border-style: solid;
        display: flex;
        justify-content: center;
        width: 7rem;
        height: 1rem;
    }
}